* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    border-width: 2px;
    width: 100%;
    height: 80px;
}

.logo {
    display: inline-block;
    position: relative;
    margin-top: 30px;
    margin-left: 214px;
    width: 72px;
    height: 20px;
}
nav {
    display: inline-block;
    position: relative;
    vertical-align: top;
    
    
}
nav li {   
    display: inline-block;
    list-style-type: none;
    margin-left: 415px;
    vertical-align: middle;
}
nav li a {
    text-decoration: none;
    color: #ffffff;
    font: 400 16px ProximaNova;
}
footer {
    position: relative;
    display: block;
    background-color: #252525;
    width: 100%;
    height: 175px;
}
footer .copyright {
    color: #545454;
    display: inline-block;
    font: 100 14px / 22px ProximaNovaT;
    padding-top: 90px;
    padding-left: 698px;
    width: 203px;
    height: 35px;
}
footer .footer-logo {
    display: inline-block;
    margin-bottom: 105px;
    margin-left: 764px;
    width: 72px;
    height: 20px;
}